/*css mot en Tag/Element*/
div {
    width: 100%;
}

header {
    /*width: 1024px;*/
    width: 100%;
    height: 70px;
    background-color: orangered;
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 0px;

}

#header_div {
    width: 15%;
    height: 50px;
    margin-right: 1px;
    background-color: lightgrey;
    border-style: solid;
    margin: 100px;
}

footer {
    /*width: 1024px;*/
    width: 100%;
    text-align: center;
    background-color: purple;
    border-style: solid;
}

#paragraf_div {
    background-color: lightgrey;
    border-style: solid;
    margin: 10px;
}

#plan_div {
    background-color: yellow;
    border-style: solid;
}

#article_div {
    background-color: lightgrey;
    border-style: solid;
    margin: 100px;
    
}

#article_div2 {
    background-color: lightgrey;
    border-style: solid;
    margin: 100px;
   
}

/*mot en id*/
#plan {
    width: 50px;
    height: 50px;
    border: 1px solid #4CAF50;
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: lightblue;
}

/*mot en class*/
.kropp {
    background-color: aliceblue;
    width: 1024px;
    border-style: solid;
}

aside {
    background-color: palegreen;
    border-style: solid;
}

.toLeft {
    /* float: left; */
    display: inline-block;
}
header > nav {
    width: 470px;
    height: 66px;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-right: 100px;
    margin-left: 1px;
    border-style: solid;
    border-width: medium;
    background-color: darkcyan;
}

   /* header > nav > ul {
        background-color: darkcyan;
        margin-top: 15px;*/
    }


header > nav > ul > li {
    background-color: darkcyan;
}

    header > nav > ul > li > a {
        display: block;
        border-style: solid;
        border-width: medium;
        margin-top: 14px;
        margin-bottom: 7px;
        margin-right: -6px;
        margin-left: 0px;
    }
